[Zabbix]
### Zabbix related parameters ###
zabbix_server="127.0.0.1"
zabbix_item_key="monitor_status"
zabbix_discovery_key="site24x7_discovery"

[Site24x7]
### urls ###
api_url="https://www.site24x7.com/api"
auth_url="https://accounts.zoho.com/oauth/v2/token"

### Credentials ###
# You can get these values by following
# these instructions: https://www.site24x7.com/help/api/#authentication
#
client_id=
client_secret=

### Grant Token ###
# Put your "grant token", that you can get from the developer console,
# as explained here: https://www.site24x7.com/help/api/#authentication
# (we need the following scopes:)
# site24x7.Reports.read, site24x7.Admin.read
#
# Once it's consumed by the script it will be removed from here,
# and a new "refresh token" will be generated automatically.
# Typically you do this only once.
# But you can generate a new "grant token" and put it here every time you
# need a new "refresh token" (for example if you need to redefine scopes.)
#
grant_token=

### Refresh Token ###
# Don't edit this section (it's managed by the script).
#
refresh_token=
